html,
body,
#__next {
  height: 100%;
  margin: 0;
}

button:focus {
  outline: none;
}

* {
  font-family: "Apple SD Gothic Neo", "sans-serif";
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  background-image: none;
}
